
*{
    box-sizing: border-box;
}
/* FOOTER GENERAL */
.peu {
    background-color: #111;      /* fons fosc per destacar-lo */
    padding: 40px 0;             /* espai vertical */
    text-align: center;          /* centrar contingut */
    margin-top: 60px;            /* espai abans del footer */
}

/* Contenidor d'icones */
.xarxes a {
    color: white;                /* color de les icones */
    font-size: 2rem;             /* mida de les icones */
    margin: 0 15px;              /* separació entre icones */
    display: inline-block;
    transition: 0.3s ease;
}

/* Efecte hover */
.xarxes a:hover {
    color: #00aced;              /* blau amb to de xarxa social */
}

.projectes-grid {
  display: flex;
  justify-content: flex-start; /* justify-content: flex-start; Default value. Items are positioned at the beginning of the container */
  gap: 2rem;
  flex-wrap: wrap; /* ens fa un salt de linea quan no hi caben les diferents cards*/
  margin: 0 auto; /*top and bottom margins to 0 and left and right margins to auto*/
  width: fit-content; /* width: fit-content ajusarse al propi contingut*/

}

.card {
    display:flex;
    flex-direction: column;
    flex: 0 1 15rem; 
    /* 
    flex: 0 1 15rem;
        flex-grow 0; --> no permet que creixin més de mida
        flex-shrink: 1; --> permet que es facin més estretes
        flex-basis: 15rem; --> 15x16=240px
    
    Li podem dir també que no volem que s'encongeixin, sinó que es mantinguin fixes:
    flex: 0 0 15rem;
        flex-grow 0; --> no permet que creixin més de mida
        flex-shrink: 0; --> no permet que es facin més estretes
        flex-basis: 15rem; --> 15x16=240px
    
    Li podem dir que volem que les targetes creixin per adaptar-se a l'ample de la pantalla:
    flex: 1 0 15rem;
        flex-grow 1; --> permet que creixin més de mida
        flex-shrink: 0; --> no permet que es facin més estretes
        flex-basis: 15rem; --> 15x16=240px
    */
    border:1px solid #222;
    border-radius: 10px;
    /*  overflow:hidden;*/
    box-shadow: 0 0 15px 15px #666;
}


@media only screen and (max-width: 9850px) and (min-width:746px){
    .projectes-grid {
        gap: 2rem;
        margin: 0 auto;
        width: fit-content;
        justify-content:flex-start;
    }
    .card {
        display:flex;
        flex-direction: column;
        flex: 1 1 15rem; 
    }
    .card img{
        width: auto;
        max-height: 300px;
    }

    .card:nth-child(3){
        display:flex;
        flex-direction: column;
        flex: 0 1 15rem;
    }
}

@media only screen and (max-width: 745px) {
    .projectes-grid {
        gap:2rem;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: fit-content;
    }
    .card {
        display:flex;
        flex-direction: column;
        flex: 0 1 15rem; 
        width:100%;
    }
}
.card > h3 {
    padding:1rem;
}

.card > img {
    padding: .5rem 1rem;
}

.card > p {
    padding:1rem;
}

.card > button {
    margin: 1rem;
    padding: .5rem 1rem;
}

#coneixements {


}

#experiencia{
    background-color:#222222 ;
    color: white;
}

.aficions-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.aficio {
    display: flex;
    margin: 5px;;
    padding-top: 25px;
    border:1px solid #333;
    border-radius: 1rem;
    background-color: #D9D9D9;
}
.aficio>p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: auto;
    width: 153px;
    height: 43px;
    text-align: center;
    display:inline-block;
    margin-bottom: 10px;
}   

.icona {
    display:inline-block;
    height: 40px;
    width: 40px;
    place-items: center;
    margin-bottom: -50px;
}
.icona svg {
    display:flex;
    justify-content: center; 
}

.text-aficio  {
    align-text: center;
}